.first-order
  p.first-order-text
    | &#8212; Is this your first time?
    br
    span.is-bold Make the first order with 20% OFF!
  button.first-order-button
    | Order with
    span.is-bold 20% OFF