footer.footer-wrp
  .footer
    nav.footer-menu
      ul.footer-menu-list
        li.footer-menu-list-item
          a.footer-menu-list-item-link Discount Program
        li.footer-menu-list-item
          a.footer-menu-list-item-link Become an Author
        li.footer-menu-list-item
          a.footer-menu-list-item-link Testimonials
        li.footer-menu-list-item
          a.footer-menu-list-item-link About Us
        li.footer-menu-list-item
          a.footer-menu-list-item-link Sitemap
        li.footer-menu-list-item
          a.footer-menu-list-item-link Privacy Policy
        li.footer-menu-list-item
          a.footer-menu-list-item-link Terms &#38; Conditions
        li.footer-menu-list-item
          a.footer-menu-list-item-link Undergraduate
        li.footer-menu-list-item
          a.footer-menu-list-item-link PH.D.
        li.footer-menu-list-item
          a.footer-menu-list-item-link Master
        li.footer-menu-list-item
          a.footer-menu-list-item-link High school students
        li.footer-menu-list-item
          a.footer-menu-list-item-link Affiliate program
    .payment-system
      p.payment-system-text
        | We accept:
      ul.payment-system-list
        li.payment-system-list-item
          a.payment-system-list-item-link
            img(src='images/Layer 46.png')
        li.payment-system-list-item
          a.payment-system-list-item-link
            img(src='images/Layer 48.png')
        li.payment-system-list-item
          a.payment-system-list-item-link
            img(src='images/Layer 49.png')
        li.payment-system-list-item
          a.payment-system-list-item-link
            img(src='images/Layer 50.png')
        li.payment-system-list-item
          a.payment-system-list-item-link
            img(src='images/Olddiscover.png')
        li.payment-system-list-item
          a.payment-system-list-item-link
            img(src='images/wiretrans.png')
        li.payment-system-list-item
          a.payment-system-list-item-link
            img(src='images/paypal_logo.png')
        li.payment-system-list-item
          a.payment-system-list-item-link
            img(src='images/14.png')
        li.payment-system-list-item
          a.payment-system-list-item-link
            img(src='images/Layer 43.png')

    p.footer-info
     | DISCLAMER: The Company is providing custom writing and research services to its clients for
     | limited use only as provided in its Terms and Conditions. It does not give its consent or authority to the
     | client to copy and reproduce entirely or a portion of any term paper, research paper, thesis paper, essay,
     | dissertation or other products of the Company without proper reference. Furthermore, the Company will not
     | be responsible to third parties for the unauthorized use of its product.
