.header
  .header-logo
    a.header-logo-link
      img.header-logo-link-img(src='images/logo.png')
      | Test
      span.is-blue Order
      | Site
  .header-menu
    ul.header-menu-list
      li.header-menu-list-item
        a.header-menu-list-item-link Services
      li.header-menu-list-item
        a.header-menu-list-item-link Prices
      li.header-menu-list-item
        a.header-menu-list-item-link Order Now
      li.header-menu-list-item
        a.header-menu-list-item-link Discounts
      li.header-menu-list-item
        a.header-menu-list-item-link About Us
      li.header-menu-list-item
        a.header-menu-list-item-link Samples
      li.header-menu-list-item
        a.header-menu-list-item-link FAQ
      li.header-menu-list-item
        a.header-menu-list-item-link Contact Us
      li.header-menu-list-item
        a.header-menu-list-item-link.is-icon
          i.fa.fa-comment
      li.header-menu-list-item
        a.header-menu-list-item-link.is-icon
          i.fa.fa-user




