.order-instruction
  p.order-instruction-text
    | &#8212; How do you work?
  .order-instruction-content
    .order-instruction-content-item
      .order-instruction-content-item-img.is-first
        .is-number
          | 1
      h2.order-instruction-content-item-title
        | You place order
      p.order-instruction-content-item-text
        | Our term paper writing service follows strict academic standards and professor requirements.
    .order-instruction-content-item
      .order-instruction-content-item-img.is-second
        .is-number
          | 2
      h2.order-instruction-content-item-title
        | You submit payment
      p.order-instruction-content-item-text
        | Our guarantee is that the best term papers are received by every single student that.
    .order-instruction-content-item
      .order-instruction-content-item-img.is-third
        .is-number
          | 3
      h2.order-instruction-content-item-title
        | We are work
      p.order-instruction-content-item-text
        | Every single student that is currently looking for research papers wants to make sure that quality is high.
    .order-instruction-content-item
      .order-instruction-content-item-img.is-fourth
        .is-number
          | 4
        img.is-check(src='images/GroupCheck.png')
      h2.order-instruction-content-item-title.done
        | Your paper done
      p.order-instruction-content-item-text
        | Our term paper writing service follows strict academic standards.
  button.order-instruction-button
    | Place my order

