.services
  h1.services-title
    | Fast execution of papers
  button.services-button
    | Order right now
.services-menu-wrp
  .services-menu
    ul.services-menu-list
      li.services-menu-list-item
        a.services-menu-list-item-link Custom Term Paper
      li.services-menu-list-item
        a.services-menu-list-item-link Research Paper
      li.services-menu-list-item
        a.services-menu-list-item-link Essay
      li.services-menu-list-item
        a.services-menu-list-item-link Book Report
      li.services-menu-list-item
        a.services-menu-list-item-link Coursework
      li.services-menu-list-item
        a.services-menu-list-item-link Thesis
      li.services-menu-list-item
        a.services-menu-list-item-link Case Study
      li.services-menu-list-item
        a.services-menu-list-item-link Paper Writing Services
.services-content
  .services-content-item
    .services-content-item-img
      img.is-img1(src="images/Rectangle 21.png")
    h2.services-content-item-title
      | Any paper
    p.services-content-item-text
      | Our term paper writing service follows strict academic standards and professor requirements.
      | This is what makes our work so valuable. The experience that we have.
  .services-content-item
    .services-content-item-img
      img.is-img2(src="images/Check.png")
    h2.services-content-item-title
      | Plagiarism check
    p.services-content-item-text
      | Our guarantee is that the best term papers are received by every
      | single student that hires us and we managed to achieve this high.
  .services-content-item
    .services-content-item-img
      img.is-img3(src="images/Rounded Rectangle 5.png")
    h2.services-content-item-title
      | Trust
    p.services-content-item-text
      | Every single student that is currently looking for research papers wants to make sure that
      | quality is high. We currently use the services of thousands of US certified writers.
  .services-content-item
    .services-content-item-img
      img.is-img4(src="images/24.png")
    h2.services-content-item-title
      | Support
    p.services-content-item-text
      | Our term paper writing service follows strict academic standards and professor
      | requirements. This is what makes our work so valuable.
.services-content-ordered
  p.services-content-ordered-text
    | &#8212; That's cool,
  button.services-content-ordered-button
      | I want to order now!
