.statistics-block
  p.statistics-block-text
    | &#8212; Select the desired service
  .accordion
    .accordion-item-wrp
      a.accordion-item
        i.fa.fa-caret-right
        | Academic Writing Services
      .accordion-data
        ul.accordion-data-list
          li.accordion-data-list-item
            p.service-name
              | Dissertation
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Thesis
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Thesis/Dissertation Proposal
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Research Proposal
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Editing
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Proofreading
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Formatting
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Dissertation Chapters
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
    .accordion-item-wrp
      a.accordion-item
        i.fa.fa-caret-right
        | Dissertation Services
      .accordion-data
        ul.accordion-data-list
          li.accordion-data-list-item
            p.service-name
              | Dissertation
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Thesis
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Thesis/Dissertation Proposal
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Research Proposal
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Editing
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Proofreading
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Formatting
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Dissertation Chapters
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
    .accordion-item-wrp
      a.accordion-item
        i.fa.fa-caret-right
        | Admission Services
      .accordion-data
        ul.accordion-data-list
          li.accordion-data-list-item
            p.service-name
              | Dissertation
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Thesis
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Thesis/Dissertation Proposal
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Research Proposal
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Editing
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Proofreading
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Formatting
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Dissertation Chapters
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
    .accordion-item-wrp
      a.accordion-item
        i.fa.fa-caret-right
        | Assignments
      .accordion-data
        ul.accordion-data-list
          li.accordion-data-list-item
            p.service-name
              | Dissertation
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Thesis
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Thesis/Dissertation Proposal
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Research Proposal
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Editing
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Proofreading
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Formatting
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Dissertation Chapters
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
    .accordion-item-wrp
      a.accordion-item
        i.fa.fa-caret-right
        | Editing Services
        span.badge Most Popular
      .accordion-data
        ul.accordion-data-list
          li.accordion-data-list-item
            p.service-name
              | Dissertation
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Thesis
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Thesis/Dissertation Proposal
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Research Proposal
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Editing
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Proofreading
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Formatting
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
          li.accordion-data-list-item
            p.service-name
              | Dissertation Chapters
            .service-info
              p.service-info-price
                | from
                span $19.99
              button.service-info-button.is-readmore
                span.service-info-button-text
                  | Read more
                i.fa.fa-ellipsis-h
              button.service-info-button.is-ordernow
                span.service-info-button-text
                  | Order now
                i.fa.fa-shopping-cart
      img.is-newLabel(src='images/Group 6.png')