doctype html
html(lang='en', ng-app='CounterApp')
  head
    meta(charset='UTF-8')
    title Title
  body
    div()
      div()
        button() Split
        br
        br
        br
    
    script(src='js/all.min.js')
