.first-order
  //height: 390px
  padding-bottom: 132px
  width: 100%
  text-align: center
  @include background-image("../images/Group 5", "png", 100%, 100% no-repeat)
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

  @include breakpoint(736px)
    padding-bottom: 60px

  &-text
    font-family: 'Ubuntu', sans-serif
    font-size: 30px
    color: #ffffff
    margin: 20px auto
    padding: 130px 0 8px

    @include breakpoint(736px)
      font-size: 20px
      padding-top: 60px

    br
      display: none

      @include breakpoint(736px)
        display: block

  .is-bold
    font-weight: 800

  &-button
    display: block
    background: transparent
    color: #ffffff
    padding: 6px 42px
    height: 70px
    border: 2px solid #ffffff
    border-radius: 5px
    text-align: center
    white-space: nowrap
    cursor: pointer
    font-family: 'Ubuntu', sans-serif
    font-size: 30px
    text-decoration: none
    touch-action: manipulation
    line-height: 16px
    box-sizing: border-box
    vertical-align: baseline
    margin: 0 auto

    @include breakpoint(736px)
      font-size: 20px
      padding: 6px 15px
      height: 50px