//@import "../../compass/css3/images"

.services
  height: 526px
  width: 100%
  text-align: center
  background: #2b7fca
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #2b7fca, #75b6ff)
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #2b7fca, #75b6ff)
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #2b7fca, #75b6ff)
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #2b7fca, #75b6ff)
  /* Standard syntax */

  &-title
    //margin: 0
    font-size: 64px
    font-weight: bold
    font-family: 'Ubuntu', sans-serif
    color: #ffffff
    padding: 195px 0 33px 0
    letter-spacing: 2px

  &-button
    background: #ffffff
    color: #4592dc
    padding: 6px 38px
    height: 70px
    border: 1px solid transparent
    border-radius: 5px
    text-align: center
    white-space: nowrap
    vertical-align: middle
    display: inline-block
    cursor: pointer
    font-family: 'Ubuntu', sans-serif
    font-size: 30px
    text-decoration: none
    touch-action: manipulation
    line-height: 16px
    box-sizing: border-box

.services-menu
  display: table
  width: 1140px
  margin: 0 auto

  &-wrp
    width: 100%
    background: #3889d4
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #3889d4, #529ce6)
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #3889d4, #529ce6)
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #3889d4, #529ce6)
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #3889d4, #529ce6)
    /* Standard syntax */

  &-list
    list-style: none
    display: table-row
    padding: 0
    width: 100%

    &-item
      display: table-cell
      text-align: center
      text-decoration: none
      vertical-align: middle

      &:nth-child(even)
        a
          background: #3889d4
          color: #7cc2ff

      &:nth-child(odd)
        a
          background: #529ce6
          color: #a6ebff

      &-link
        padding: 23px 28px
        display: block
        font-family: 'Open Sans', sans-serif
        font-weight: 300
        font-size: 14px
        letter-spacing: -0.1px

.services-content
  width: 1140px
  margin: 0 auto
  overflow: hidden
  text-align: center
  padding-top: 64px

  &-item
    float: left
    width: calc(100% / 4)
    padding: 15px 20px
    box-sizing: border-box

    &-img
      box-sizing: border-box
      border: 1px solid #9cc6f0
      border-radius: 50%
      width: 180px
      margin: 20px auto 26px auto
      height: 180px

      .is-img1
        padding: 45px 32px

      .is-img2
        padding: 48px 48px

      .is-img3
        padding: 64px 34px

      .is-img4
        padding: 47px 41px

    &-title
      color: #4592dc
      font-size: 20px
      font-family: 'Ubuntu', sans-serif

    &-text
      padding-top: 12px
      color: #909090
      font-size: 14px
      font-weight: 300
      font-family: 'Ubuntu', sans-serif
      line-height: 23px

.services-content-ordered
  overflow: hidden
  margin: 0 auto
  width: 1140px
  text-align: center
  padding: 60px 0 110px 0

  &-text
    display: inline-block
    font-family: 'Ubuntu', sans-serif
    font-size: 30px
    padding-right: 30px
    color: #565656
    margin: 20px auto

  &-button
    display: inline-block
    background: #f17c2d
    color: #ffffff
    padding: 6px 42px
    height: 70px
    border: 1px solid transparent
    border-radius: 5px
    text-align: center
    white-space: nowrap
    cursor: pointer
    font-family: 'Ubuntu', sans-serif
    font-size: 30px
    text-decoration: none
    touch-action: manipulation
    line-height: 16px
    box-sizing: border-box
    vertical-align: baseline



