.statistics-block
  width: 840px
  margin: 0 auto
  text-align: center
  padding: 95px 0 85px 0

  @include breakpoint(1024px)
    width: 100%
    padding: 75px 0 65px 0

  &-text
    font-family: 'Ubuntu', sans-serif
    font-size: 30px
    color: #565656

  .accordion
    width: 100%
    margin: 47px 0

    @include breakpoint(1024px)
      padding: 0 10px
      box-sizing: border-box

    &-item
      padding: 10px 20px
      height: 31px
      background: #509ae4
      border-bottom: 1px solid #509ae4
      color: #ffffff
      cursor: pointer
      font-size: 20px
      font-family: 'Ubuntu', sans-serif
      border-radius: 4px
      margin-bottom: 7px
      text-decoration: underline
      text-decoration-style: dashed
      display: block
      line-height: 32px
      text-align: left

      @include breakpoint(736px)
        padding: 10px

      &-wrp:last-child
        position: relative

      &-wrp.open
        border: 1px solid #509ae4
        border-radius: 4px
        margin-bottom: 5px

      &.open
        background: #ffffff
        border-bottom: 0
        color: #509ae4
        margin-bottom: 0

      i
        font-size: 14px
        margin-right: 10px

    &-data
      background: #fff
      padding: 0 45px 35px 45px
      line-height: 140%
      display: none
      font-size: 14px
      font-family: 'Ubuntu', sans-serif
      border-radius: 4px

      @include breakpoint(736px)
        padding: 0 15px 20px

      &-list
        &-item
          overflow: hidden
          border-bottom: 1px solid #cfcfcf
          padding: 4px 5px
          box-sizing: border-box

          .service-name
            float: left
            color: #61a2e6
            padding-left: 5px
            padding-top: 5px

            &:before
              content: "\2022"
              color: #61a2e6
              font-weight: bold
              left: -5px
              position: relative

          .service-info
            float: right

            &-price
              display: inline-block
              color: #bfbfbf

              span
                color: #9a9a9a

            &-button
              display: inline-block
              padding: 6px 8px
              height: 30px
              border-radius: 5px
              text-align: center
              white-space: nowrap
              cursor: pointer
              font-family: 'Ubuntu', sans-serif
              font-size: 14px
              text-decoration: none
              touch-action: manipulation
              line-height: 16px
              box-sizing: border-box
              vertical-align: baseline

              &-text
                @include breakpoint(736px)
                  display: none

              i
                display: none
                font-size: 18px

                @include breakpoint(736px)
                  display: block

              &.is-readmore
                background: #ffffff
                color: #e2e2e2
                border: 1px solid #e2e2e2
                margin-left: 40px

                @include breakpoint(736px)
                  background: #ffffff
                  color: #4f92d4
                  border: 1px solid #4f92d4
                  margin-left: 10px

              &.is-ordernow
                background: #ffffff
                color: #a3a3a3
                border: 1px solid #a3a3a3
                margin-left: 5px

                @include breakpoint(736px)
                  background: #f17c2d
                  color: #ffffff
                  border: 1px solid #f17c2d

          &:last-child
            border-bottom: none

          &:hover
            cursor: pointer

            .service-name
              color: #4888cc
              text-decoration: underline

              &:before
                color: #4888cc

            .service-info
              &-button
                &.is-readmore
                  background: #ffffff
                  color: #4f92d4
                  border: 1px solid #4f92d4

                &.is-ordernow
                  background: #f17c2d
                  color: #ffffff
                  border: 1px solid #f17c2d

  .is-newLabel
    position: absolute
    top: 0
    left: -95px

    @include breakpoint(1024px)
      display: none

  .badge
    display: none

    @include breakpoint(1024px)
      border-radius: 3px
      background: #f1572d
      color: #ffffff
      font-size: 12px
      font-weight: 800
      font-family: 'Open Sans', sans-serif
      text-decoration: none
      width: 85px
      padding: 0 10px
      display: inline-block
      margin-left: 10px
      vertical-align: top
