.footer
  width: 1140px
  margin: 0 auto
  padding-top: 69px

  &-wrp
    box-shadow: 0px -4px 11px -7px rgba(0, 0, 0, .4)
    width: 100%

  &-menu
    padding-bottom: 70px

    &-list
      list-style: none
      text-align: center
      width: 900px
      margin: 0 auto

      &-item
        color: #6b6b6b
        display: inline-block
        font-family: 'Ubuntu', sans-serif
        font-weight: 300

        &-link
          text-decoration: underline
          padding: 13px 12px
          display: block
          &:hover
            text-decoration: none

  .payment-system
    overflow: hidden
    width: 925px
    margin: 0 auto

    &-text
      float: left
      margin: 20px 28px 0 19px

    &-list
      list-style: none
      float: left

      &-item
        display: inline-block
        vertical-align: middle

        &-link
          margin-right: 12px

  &-info
    text-align: center
    color: #c3c3c3
    font-size: 12px
    padding: 80px
    line-height: 14px

